<ion-header>
  <ion-toolbar>
    <ion-title>
      Bem-Vindo!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1 class="custom-title">Acesse a Sua Conta</h1>
    <div class="container-buttons">

        <ion-item class="bg-transparente">
            <ion-label position="floating">E-mail</ion-label>
            <ion-input type="email"[(ngModel)]="Cliente.email"></ion-input>
        </ion-item>
          
        <ion-item class="bg-transparente">
            <ion-label position="floating">Senha</ion-label>
            <ion-input type="senha"[(ngModel)]="Cliente.senha"></ion-input>
            </ion-item>
        
        <ion-row>
          <ion-button class="login" (click)="login()"> Confirmar </ion-button>
        </ion-row>
        <ion-row>
          <ion-col size="7">
            <ion-label class="btn1" (click)="cadastrar()">Não tem conta? Cadastre-se.</ion-label>
          </ion-col>
          <ion-col size="5">
            <ion-label class="btn1" (click)="onclick()">Esqueceu sua senha?</ion-label>
          </ion-col>
        </ion-row>

    </div>

</ion-content>
