<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar Pratos</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="backToCardapio()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-content class="ion-padding">
        <ion-list>
          <ion-item>
            <ion-input type="text" [(ngModel)]="CadastroCardapio.prato" placeholder="Nome do Prato"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" [(ngModel)]="CadastroCardapio.descricao" placeholder="descricao"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" [(ngModel)]="CadastroCardapio.valor" placeholder="valor"></ion-input>
          </ion-item>
        </ion-list>
        <ion-footer>
            
            <ion-toolbar>
              <ion-button (click)="addPrato()">Cadastrar</ion-button>
            </ion-toolbar>
        </ion-footer>
          
  
</ion-content>
