<ion-header>
    <ion-toolbar>
      <ion-title>Lista_de_Clientes</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item-sliding *ngFor="let cliente of clientes">
        <ion-item>
          <ion-label>
                 {{ cliente.nome }}
            <p></p>
          </ion-label>
          <ion-icon (click)="remove(cliente.uid)" color="danger" name="trash" slot="end"></ion-icon>
        </ion-item>
  
      </ion-item-sliding>
    </ion-list>
  
  </ion-content>
